SCAQuest/WebContent/wsdl/WSAutentica.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.sca.cefet.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.sca.cefet.br" xmlns:intf="http://webservice.sca.cefet.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.sca.cefet.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="autentica">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="autenticaResponse">
    <complexType>
     <sequence>
      <element name="autenticaReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="autenticaRequest">

      <wsdl:part element="impl:autentica" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="autenticaResponse">

      <wsdl:part element="impl:autenticaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WSAutentica">

      <wsdl:operation name="autentica">

         <wsdl:input message="impl:autenticaRequest" name="autenticaRequest">

       </wsdl:input>

         <wsdl:output message="impl:autenticaResponse" name="autenticaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSAutenticaSoapBinding" type="impl:WSAutentica">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="autentica">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="autenticaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="autenticaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSAutenticaService">

      <wsdl:port binding="impl:WSAutenticaSoapBinding" name="WSAutentica">

         <wsdlsoap:address location="http://teammobile.kinghost.net/SCAQuest/services/WSAutentica"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
